[wallet]
walleturl = https://us-central1-beteseaviator-a05ae.cloudfunctions.net/qtcwApi/
withdrawurl = https://us-central1-beteseaviator-a05ae.cloudfunctions.net/qtcwApi/transactions/
depositurl = https://us-central1-beteseaviator-a05ae.cloudfunctions.net/qtcwApi/transactions
rollbackurl = https://us-central1-beteseaviator-a05ae.cloudfunctions.net/qtcwApi/transactions/rollback
walletsession = REPLACE_WITH_ACTIVE_SESSION
walletsessionExpired = REPLACE_WITH_EXPIRED_SESSION
passkey = REPLACE_WITH_PASS_KEY
playerid = REPLACE_WITH_FIREBASE_UID
currency = GMD
gameid = REPLACE_WITH_QTECH_GAME_ID
device = MOBILE
clienttype = HTML5
category = CASINO/CRASH
completed = false
amount = 10
blockedplayerid =
blockedwalletsession =
amounttoreachinsufficientfund = 99999999
rewardurl = https://us-central1-beteseaviator-a05ae.cloudfunctions.net/qtcwApi/bonus/reward
verifybalanceondeposit = 1
